<p id="notice"><%= notice %></p>

<div class="row mt-5 pt-5 text-secondary">
  <div class="col-md-9">
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea), class: 'text-info' %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete, class: 'text-info' %> |
      <%= link_to 'Back', ideas_path, class: 'text-info' %>
    </p>
  </div>
</div>
